@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Orbitron:wght@400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, Orbitron, sans-serif;
    color: #000;
}





header {
    height: 70px;
    width: 1100px;
    background-color: rgb(237, 242, 244, .6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto auto;
    padding: 10px 47px;
    font-size: 20px;
    box-shadow: 0px 4px 5px rgb(0, 0, 0, .25);
    border-radius: 0 0 50px 50px;
    position: relative;
    z-index: 2;
}

.header_logo {
    font-family: Orbitron, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav_item {
    position: relative;
}

.nav_item::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: #000000;
    bottom: 0;
    left: 0;
    transition: all .4s ease-in-out;
}

.nav_item:hover::after{
    width: 100%;
}











.hero {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

.hero_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px
}

.name h1, .name h2 {
    font-weight: 400;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}

.title {
    font-family: Orbitron, sans-serif;
    font-size: 88px;
    letter-spacing: 3%;
}

.subtitle {
    position: relative;
    top: -15px;
    font-size: 30px;
}

.hero_btn {
    font-family: Montserrat;
    padding: 14px 25px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #F5F8F9;
    position: relative;
    top: 60px;
    transition: transform .3s ease-in;
}

.hero_btn:hover {
    transform: scale(1.1);
}

.hero_stats {
    position: absolute;
    bottom: 24px;
    font-size: 20px;
}








.tours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 194px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.section_title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 40px;
}

.tours_card-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; 
    gap: 50px;
}

.tours_card {
    width: 340px;
    height: 510px;
    background-color: #D9D9D9;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    transition: transform .3s ease-in-out;
}

.tours_card:hover {
    transform: scale(1.03);
}

.tours_card:hover .tours_card-img{
    opacity: .9;
}

.tours_card-text {
    padding: 0 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    position: relative;
    top: -30px;
}

.tours_card-title {
    font-weight: 400;
    color: #fff;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: -10px;
}

.tours_card-subtitle{
    font-weight: 400;
}

.tours_card-img {
    width: 100%;
}






.safety {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B1B1B;
    padding: 40px 0 70px 0;
    margin-bottom: 80px;
}

.safety_title {
    color: #fff;
}

.safety-card_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.safety-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 320px;
    height: 275px;
    padding: 20px 15px;
    border-radius: 25px;
    background-color: #fff;
}

.safety-card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000000;
    top: 80px;
}

.safety-card_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.safety-card_title {
    width: 220px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.safety-card_subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.safety-card_description {
    font-size: 12px;
    color: #737373;
}





.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    position: relative;
}

.aboutUs-card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 250px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.aboutUs-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px 50px 100px;
    width: 450px;
    height: 360px;
    border-radius: 50px;
    border: 5px solid #000;
    gap: 50px;
    transition: transform .3s ease-in-out;
}

.aboutUs-card-title {
    font-size: 26px;
    font-weight: 400;
}

.aboutUs-card-text {
    font-size: 18px;
}

.aboutUs-card-first {
    background-color: #D9D9D9;
}

.aboutUs-card-second {
    background-color: #FF5722;
}

.aboutUs-slogan {
    font-size: 20px;
}

.aboutUs-slogan span {
    color: #FF5722;
    font-weight: 700;
}

.flag {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.aboutUs-card:hover{
    transform:translateY(-20px);
}









.contacts {
    padding: 80px 0 100px 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-title {
    color: #fff;
}

.contacts-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.contacts-card a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
}

.contacts-card a img {
    transition: transform .2s ease-in;
    width: 80px;
    height: 80px;
}

.contacts-card a img:hover {
    transform: translateY(-10px);
}










footer {
    width: 100%;
    height: 20px;
    background-color: #292929;
    display: flex;
}

footer p {
    margin: auto auto;
    color: #fff;
    font-size: 14px;
}

